body {
  margin: 0%;
  padding: 0%;
  background-image: url(https://64.media.tumblr.com/9b67f2f98edf506e81f9a929f13cd065/tumblr_inline_p7gndcYSIw1sb4fh5_540.jpg);
background-size: cover;

}

.user{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 17rem;
  margin-right: 2rem;
 
  
}



#root{
  width: 100%;
 
  
} 



.form-control{

margin-top: 3%; 
width: 20rem;
}


.btn{
  margin-top: 1rem;
  }

h1{
  margin-bottom: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}